* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;

}
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	flex-direction: column;
	margin: 0;
	font-family: "Oxygen", sans-serif;
}

@media (max-width: 700px) {
  .top, .nav, .footer {
    flex-direction: column;
    gap: 12px;
  }
}

.link a {
	text-decoration: none;
	color: white;
}

.top-right a {
text-decoration: none;
	color: gray;
}

.top, .top-left, .top-middle, .top-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top {
	justify-content: space-between;
	padding: 24px;
}

.nav, .about {
	display: flex;
	background: #cc5533;
	justify-content: space-around;
	
}

.link {
	padding: 12px;
	font-size: 24px;
	text-align: center;
}

.middle {
  background-image: url("background.png");

}

.middle-box, .about {
	padding: 60px;
}

.about {
flex-direction: column;
}

.box {
	display: flex;
	flex-direction: column;
text-align: center;
	flex: 1;
}

.footer {
	display: flex;
	justify-content: space-around;
}
