* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;

}
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	flex-direction: column;
	margin: 0;
	font-family: "Oxygen", sans-serif;
}

.top, .top-left, .top-middle, .top-right {
	display: flex;
}

.top-left {
	justify-content: flex-start;
}

.top-middle {
	justify-content: center;
}

.top-right {
	justify-content: flex-end;
}


